@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
background-image: url(../img/Praia-de-Piratininga-768x497.jpg);
background-repeat: no-repeat;
background-position: top;
background-size: cover;
background-attachment: fixed;
}

header{
    padding: 20px 10px;
    font-family:'Dancing Script', cursive, Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-align: center;
    font-size: 40px;
    width: 100%;
    height: 100px;
    background-color: rgba(113, 113, 196, 0.137);
}

.fundo-texto{
    padding: 20px 10px;
    margin: 10px;
    background-color: rgba(51, 51, 185, 0.705);
    text-align:justify;
    font-size: 18px;
    color:rgb(243, 230, 230) ;
    font-family:'Zilla Slab', serif, Georgia, 'Times New Roman', Times, serif;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icone{
    padding: 20px 10px;
    margin:0px 9px;
    background-color: rgba(51, 51, 185, 0.705);
    font-size: 18%;
    color:rgb(243, 230, 230) ;
    font-family:'Dancing Script', cursive, Arial, Helvetica, sans-serif;
    text-align:justify;
}